<div class="abmb">
    <mat-expansion-panel class="abmb">
        <mat-expansion-panel-header>
            <mat-panel-title>
                История волонтёра
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="running-info" *ngIf="source; let sr">
            <p><b>Забег №{{sr.runningNumber}} {{sr.runningDate}}</b></p>
            <p><b>{{sr.positionName}}</b></p>
            <div class="running-info__team row">
                <div class="running-info__image">
                    <img class="img-contain" src="api/v1/team-picture/{{sr.teamsId}}" alt="">
                </div>
                <span>{{sr.teamsName}}</span>
            </div>
            <p>Исторический список позиций волонтера:</p>
            <ul class="aside-list">
                <li *ngFor="let item of sr.positionNameHistory">{{item}}</li>
            </ul>
        </div>
    </mat-expansion-panel>
</div>