<carousel 
    [loop]="true"
    [cellsToShow]="1"
    [height]="516"
    [autoplay]="true">
    <div class="slide carousel-cell">
      <img alt="" src="assets/images/slider/Layer-32.png">
      <div class="slide-info border-top border-top--brown border-bottom border-bottom--dark-brown">
        <div class="slide-info__text row background background--brown">
          <div class="slide-info__title">Keeping fit and having fun</div>
          <p>Lorem ipsum dolor sit amet consectetuer adipiscin elit Praesen</p>
        </div>
        <div class="slide-info__button background background--dark-brown">
          <button class="rm-button">Read More</button>
        </div>
      </div>
    </div>
    <div class="slide carousel-cell">
      <img alt="" src="assets/images/slider/Layer-26.png">
      <div class="slide-info border-top border-top--brown border-bottom border-bottom--dark-brown">
        <div class="slide-info__text row background background--brown">
          <div class="slide-info__title">Keeping fit and having fun</div>
          <p>Lorem ipsum dolor sit amet consectetuer adipiscin elit Praesen</p>
        </div>
        <div class="slide-info__button background background--dark-brown">
          <button class="rm-button">Read More</button>
        </div>
      </div>
    </div>
    <div class="slide carousel-cell">
      <img alt="" src="assets/images/slider/Layer-36.png">
      <div class="slide-info border-top border-top--brown border-bottom border-bottom--dark-brown">
        <div class="slide-info__text row background background--brown">
          <div class="slide-info__title">Keeping fit and having fun</div>
          <p>Lorem ipsum dolor sit amet consectetuer adipiscin elit Praesen</p>
        </div>
        <div class="slide-info__button background background--dark-brown">
          <button class="rm-button">Read More</button>
        </div>
      </div>
    </div>
  </carousel>