<div class="container content">
  <app-slider></app-slider>
  <div class="service row ptb">
    <div class="service-box col background border-bottom background--dark-brown border-bottom--dark-brown">
      <div class="service-box__title">CALENDAR</div>
      <p class="text">VESTIBULUM LIBERO NISL PORTA VEL PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE ST.</p>
      <a href="" class="sr-button sr-button--brown">Read More</a>
    </div>
    <div class="service-box col background border-bottom background--red border-bottom--red">
      <div class="service-box__title">MEMBERSHIP</div>
      <p class="text">PRAESENT VESTIBULUM MOLESTIE LACUS AENEAN NONUMMY HENDRERIT MAURIS. PHASELLU SPORTA. FUSCE SUS.CIPIT VARIUS MI. CUM SOCIIS NATOQ.</p>
      <a href="" class="sr-button sr-button--red">Read More</a>
    </div>
    <div class="service-box col background border-bottom background--yellow border-bottom--yellow">
      <div class="service-box__title">RESULTS</div>
      <p class="text">VESTIBULUM IACULIS LACINIA ESTPROIN DICTUM PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE SUS.</p>
      <a href="" class="sr-button sr-button--yellow">Read More</a>
    </div>
  </div>
  <div class="news row">
    <div class="news-box col">
      <div class="news-box__title">EVENTS</div>
      <div class="news-box__image">
        <img src="assets/images/news/Layer 34.png" alt="">
      </div>
      <p class="text"><span class="red">VESTIBULUM LIBERO NISL PORTA VEL</span><br>   
        PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY
        HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE ST VARIUS MI. CUM SOCIIS NATOQUE PENATIBUS ET MAG.</p>
      <a class="nw-button" href="">Read More</a>
    </div>
    <div class="news-box col">
      <div class="news-box__title">WELCOME</div>
      <div class="news-box__image">
        <img src="assets/images/news/Layer 35.png" alt="">
      </div>
      <p class="text"><span class="red">VESTIBULUM LIBERO NISL PORTA VEL</span><br>   
        PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY
        HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE ST VARIUS MI. CUM SOCIIS NATOQUE PENATIBUS ET MAG.</p>
      <a class="nw-button" href="">Read More</a>
    </div>
    <div class="news-box col">
      <div class="news-box__title">TRAINING</div>
      <div class="news-box__image">
        <img src="assets/images/news/Layer 35 copy.png" alt="">
      </div>
      <p class="text"><span class="red">VESTIBULUM LIBERO NISL PORTA VEL</span><br>   
        PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY
        HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE ST VARIUS MI. CUM SOCIIS NATOQUE PENATIBUS ET MAG.</p>
      <a class="nw-button" href="">Read More</a>
    </div>
  </div>
</div>