<div class="container content__row">
    <div class="row">
        <aside class="aside">            
            <app-user-info></app-user-info>
            <app-runners-last-result></app-runners-last-result>
            <app-volunteer-last-history></app-volunteer-last-history>
            <app-achievements-history></app-achievements-history>
            <app-subscriptions-list></app-subscriptions-list>            
        </aside>
        <div class="content">
            <app-plan-run></app-plan-run>
            <app-plan-volunteer></app-plan-volunteer>            
            <div class="lk-services row jcsb" style="margin-top: 1.5em">
                <div class="service-block">
                    <a class="nw-button nw-button--invert" href="">Планировать
                        забег</a>
                    <div class="service-block__content">
                        <ul>
                            <li>Забег №21 - 23 мая</li>
                            <li>Забег №22 - 30 мая</li>
                        </ul>
                    </div>
                    <mat-calendar [dateClass]="dateClass()"></mat-calendar>
                </div>
                <div class="service-block">
                    <a class="nw-button nw-button--invert" href="">Волонтёрить</a>
                    <div class="service-block__content">
                        <p style="font-size:.8em">Забег №21 - 23 мая, требуются:</p>
                        <ul>
                            <li>Секундомер - 1 чел.</li>
                            <li>Замыкающий - 1 чел.</li>
                        </ul>
                    </div>
                    <mat-calendar [dateClass]="dateClass()"></mat-calendar>
                </div>
                <div class="service-block">
                    <a class="nw-button nw-button--invert" href="">Команда</a>
                    <div class="service-block__content">
                        <div class="running-info__team row jcsb">
                            <span>Команда</span>
                            <div class="running-info__image">
                                <img class="img-contain"
                                    src="assets/images/128.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="map-cnt">
                        <ya-map [center]="[55.751952, 37.600739]" [zoom]="12">
                            <ya-placemark [geometry]="[55.751952, 37.600739]"></ya-placemark>
                        </ya-map>
                    </div>
                </div>
            </div>            
            <div class="news row">
                <div class="news-box col">
                    <div class="news-box__title">EVENTS</div>
                    <div class="news-box__image">
                        <img src="assets/images/news/Layer 34.png" alt="">
                    </div>
                    <p class="text"><span class="red">VESTIBULUM LIBERO NISL
                            PORTA VEL</span><br>
                        PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY
                        HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE ST VARIUS MI.
                        CUM SOCIIS NATOQUE PENATIBUS ET MAG.</p>
                    <a class="nw-button" href="">Read More</a>
                </div>
                <div class="news-box col">
                    <div class="news-box__title">WELCOME</div>
                    <div class="news-box__image">
                        <img src="assets/images/news/Layer 35.png" alt="">
                    </div>
                    <p class="text"><span class="red">VESTIBULUM LIBERO NISL
                            PORTA VEL</span><br>
                        PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY
                        HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE ST VARIUS MI.
                        CUM SOCIIS NATOQUE PENATIBUS ET MAG.</p>
                    <a class="nw-button" href="">Read More</a>
                </div>
                <div class="news-box col">
                    <div class="news-box__title">TRAINING</div>
                    <div class="news-box__image">
                        <img src="assets/images/news/Layer 35 copy.png" alt="">
                    </div>
                    <p class="text"><span class="red">VESTIBULUM LIBERO NISL
                            PORTA VEL</span><br>
                        PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY
                        HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE ST VARIUS MI.
                        CUM SOCIIS NATOQUE PENATIBUS ET MAG.</p>
                    <a class="nw-button" href="">Read More</a>
                </div>
                <div class="news-box col">
                    <div class="news-box__title">TRAINING</div>
                    <div class="news-box__image">
                        <img src="assets/images/news/Layer 35 copy.png" alt="">
                    </div>
                    <p class="text"><span class="red">VESTIBULUM LIBERO NISL
                            PORTA VEL</span><br>
                        PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY
                        HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE ST VARIUS MI.
                        CUM SOCIIS NATOQUE PENATIBUS ET MAG.</p>
                    <a class="nw-button" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>

</div>