
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$indigo-palette);
$frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);

$container_width: 1170px;
$active_color: #e36152;
$brown-color: #574947;
$red-color: #e46354;
$yellow-color: #f0bc6e;

:root {
    --active_color: #e36152;
}

/*@import url(http://fonts.googleapis.com/css?family=Righteous); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700&display=swap'); 
@import "normalize";

* {
    margin: 0;
    padding: 0;    
}
html, body { height: 100%;}
body {
    /*font-family: "Righteous";*/
    font-family: 'Roboto Slab', serif;
}
.wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}
.container {    
    width: $container_width;
    margin-left: auto;
    margin-right: auto;
}
.row { display: flex; }
.jcsb { justify-content: space-between; }
.background {
    background-repeat: repeat;
    background-position: 50% 0;
    &--red { background-image: url(assets/images/header-bg.jpg); }
    &--yellow { background-image: url(assets/images/nav-bg.jpg); }
    &--brown { background-image: url(assets/images/bg-body.jpg); }
    &--dark-brown { background-image: url(assets/images/bg-caption.jpg); }
}
.border-top {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        left: 0;
        right: 0;
        background-position: 50% 0;
        background-repeat: repeat-x;  
        top: -5px;           
    }
    &--brown {
        &::before { background-image: url(assets/images/bg-banner2.png); }
    }
}
.border-bottom {
    position: relative;
    &::after {        
        content: "";
        position: absolute;        
        width: 100%;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -5px;
        background-position: 50% 0;
        background-repeat: repeat-x;
    }
    &--red {
        &::after { background-image: url(assets/images/red-bg.png); }
    }
    &--yellow {
        &::after { background-image: url(assets/images/nav-bg2.png); }
    }
    &--dark-brown { 
        &::after { background-image: url(assets/images/bg-caption2.png); }
    }
}
.rm-button {
    display: inline-block;
    border: none;
    background: $brown-color;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    font-size: 0.8em;
    padding: 0.9em;
    cursor: pointer;
    transition: .25s ease;
    &:hover {
        background: $yellow-color;
    }    
}
.sr-button {
    @extend .rm-button;
    background: #fff;
    &:hover {
        color: #fff;
        background: rgba(255,255,255,0.15);
    }
    &--brown {
        color: $brown-color ;
    }
    &--red {
        color: $red-color;
    }
    &--yellow {
        color: $yellow-color;
    }
}
.nw-button {
    @extend .rm-button;
    @extend .background;
    @extend .border-bottom;    
    display: block;
    box-sizing: border-box;
    position: relative;
    background-image: url(assets/images/nav-bg.jpg);
    &::after { 
        transition: .25s ease;
        background-image: url(assets/images/nav-bg2.png); 
    }
    &:hover {
        background-image: url(assets/images/bg-caption.jpg);
        &::after {
            background-image: url(assets/images/bg-caption2.png);
        }
    }
    &--invert {
        background-image: url(assets/images/bg-caption.jpg);
        &::after {
            background-image: url(assets/images/bg-caption2.png);
        }
        &:hover {
            background-image: url(assets/images/nav-bg.jpg);
            &::after {
                background-image: url(assets/images/nav-bg2.png);
            }
        }
    }
}
.header {
    position: relative;    
    padding-top: 1.5em;
    &__top { padding-bottom: 1.2em; }
    &__foot { padding: 1.5em 0 1.2em; }    
}
.logo {
    &__tagline {
        font-size: 2.5em;
        line-height: 2;               
        color: rgba(255, 255, 255, 0.3);
        text-transform: none;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        letter-spacing: -2px;
        margin-left: 0.5em;
        padding-left: 0.5em;
    }
}
.soci {
    list-style: none;
    align-self: center;    
    &__item {
        margin: 0 .05em;
        transition: .25s ease;
        &:hover { opacity: .5; }
    }
}



.col {
    width: 31.7%;
    box-sizing: border-box;
    &:not(:nth-child(3n-2)) {
        margin-left: 2.45%;
    }
}
.ptb {
    padding: 2.1em 0;
}
.text {
    font: normal 0.65em/1.5 Abel, sans-serif;
}
.red {
    color: var(--active_color);
}
.service {   
    &-box {
        position: relative;
        padding: 2.8em 1.2em 6.4em 1.2em;
        color: #fff;
        &__title {
            font-size: 2em;
            letter-spacing: -1px;
            padding-bottom: .4em;            
        }       
        .sr-button {
            position: absolute;
            left: 1.6em;
            bottom: 3em;
        }        
    }
}
.news {
    flex-wrap: wrap;
    margin-top: 2.1em;
    &-box {
        position: relative;
        padding-bottom: 4.9em;
        margin-bottom: 2.1em;
        &__title {
            font-size: 1.9em;
            padding-bottom: .6em;
            color: #3f3b3b;
        }
        &__image {
            box-sizing: border-box;
            padding: 7px;
            border: 1px solid #DDD;
            border-radius: 5px;
            height: 14.5em;
            margin-bottom: 1.6em;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        p {
            line-height: 1.8;
        }
        .nw-button {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
        }
    }    
}
.footer {
    margin-top: 3.5em;
    padding-top: 1.1em;
    box-sizing: border-box;
    height: 12.6em;
}
.copyright {
    font-size: 0.9em;
    span {
        color: rgba(255, 255, 255, 0.3);
    }
    a {
        color: #fff;
        text-decoration: none;
        font-size: 1em;
        &:hover {
            color: var(--active_color);
        }
    }
}
.form-container {
    width: 33%;
    &--half {
        width: 38%;
    }
}
.full-width {
    width: 100%;
}
.two-cntrl {
    max-width: 46%;
}
.form-font {
    font-family: Roboto, "Helvetica Neue", sans-serif ;
}
.form-row {    
    &--radio {
        padding: 0.3em 0 1.5em;
        label {
            padding-right: 1.1em;
            font-family: Roboto, "Helvetica Neue", sans-serif ;
        }
    }
}
.mat-option-district {
    display: block;
    font-size: 0.7em;
    line-height: 1;
    margin-top: -1.4em;
}
.invalid {
    color: #f44336;
}
.img-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.aside {
    width: 20%;
    flex-shrink: 0;
    margin-right: 2.3%;
}
.profile-info {
    flex-direction: column;
    align-items: center;
    &__image {
        overflow: hidden;
        border-radius: 100%;
        width: 10em;
        height: 10em;        
    }
    &__name {
        text-align: center;
        padding: 1em 0.5em;
    }
}
.running-info {    
    &__team {
        align-items: center;
        padding: .5em 0;
    }
    &__image {
        width: 3em;
        height: 3em;
        margin-right: 1em;
        overflow: hidden;
        border-radius: 100%;        
    }
}
.abmb {
    margin-bottom: 1em;
}
.content {
    &__row {
        padding-top: 1.8em;
    }
}
.special-date {
    background-image: url(assets/images/nav-bg.jpg);
    border-radius: 100%;
}
.service-block {
    width: 31.6%;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    &__content {
        padding: 1em 1em 0 1em;
        min-height: 3em;
    }
}
.map-cnt {
    width: 100%;
    height: 19em;
    margin-top: 1em;
}
.ymaps-2-1-79-map {
    max-width: 100%!important;
}
.aside-list {
    padding-left: 1.2em;
    font-size: .8em;
}
.mat-table {
    width: 100%;
}